/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    
}

.logo img {
    height: 50px;
}

nav {
    display: flex;
    gap: 10px; 
    margin-right:50px;
    
}

nav ul {
    display: flex;
    gap: 10px; 
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    background-color: #F9ECEC;
    color: black;
    font-weight: bold;
    font-size: 14px;
    padding: 10px 15px; 
    border-radius: 20px; 
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #f2d9d9; 
}

.auth-buttons a {
    text-decoration: none;
    display: inline-block;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size:14px;
    cursor: pointer;
    text-align: center;
    margin-left: 650px;
}

.auth-buttons .account {
    background-color: orange;
    color: white;
    margin-left: 750px;
}

.auth-buttons .login {
    background-color: orange;
    color: white;
    margin: auto;
}

.auth-buttons .signup {
    background-color: orange;
    color: white;
    
}



/* Main Section */
.content-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
}

.text-section {
    flex: 1;
}

.welcome-text {
    background-color: #00bfff;
    color: black;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1.6;
    font-weight: bold;
}

.features {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.feature {
    background-color: #00bfff;
    color: black;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
}

/* Image Section */
.image-section img {
    height: calc(100vh - 100px); 
    width: auto;
    border-radius: 10px;
}

/* Footer */
footer {
    background-color: #5c4033;
    color: white;
    padding: 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-bottom {
    text-align: center;
    margin-top: 10px;
    font-size: 12px;
}

.help-links a, .contact-info p {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.social-media a img {
    width: 48px;
    height: 48px;
    margin: 0 5px;
}
