/* Reset Password Page Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

.background-blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5) url('../Photo/biddbuddies.jpeg') no-repeat center center/cover;
    filter: blur(8px);
    z-index: -1; 
  }
  
.reset-password-container {
    width: 100%;
    max-width: 500px;
    margin: 50px auto;
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.reset-password-container h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.reset-password-container form {
    display: flex;
    flex-direction: column;
}

.reset-password-container label {
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
}

.reset-password-container input {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 14px;
}

.reset-password-container button {
    padding: 12px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.reset-password-container button:hover {
    background-color: #45a049;
}

.reset-password-container .error-message {
    color: red;
    font-size: 14px;
    text-align: center;
}
