/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

/* Auction Cards */
.auction-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

/* Empty State - Center the message */
.auction-list p {
    text-align: center;
    font-size: 1.2em;
    color: #888;
    grid-column: span 3; /* Ensure it spans the whole width of the grid */
    /* Optional, for better spacing */
}


.auction-card {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.auction-card:hover {
    transform: translateY(-5px);
}

.auction-photo {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.auction-title {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
}

.auction-description {
    font-size: 1em;
    color: #666;
    margin-bottom: 10px;
}

.auction-category,
.auction-location,
.auction-starting-bid,
.auction-current-bid,
.auction-bid-increment,
.auction-end-time {
    font-size: 0.9em;
    color: #555;
    margin-bottom: 8px;
}

.auction-status {
    font-weight: bold;
    color: #007BFF;
}

.winner-info {
    font-weight: bold;
    color: #28a745;
    margin-top: 10px;
}

p {
    margin: 0;
}

/* Empty State */
p {
    text-align: center;
    font-size: 1.2em;
    color: #888;
}

#pa{
    margin-left: 35%;
}

#back-link {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 1.5em;
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  #back-link:hover {
    color: #0056b3;
  }